/* GLOBAL */
h2, h4 {
  color: #004080;
}
html {
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Neue Helvetica';
}

/* NAV */
#logo {
  color: #004080;
  font-family: 'Allura', cursive;
  font-size: 2em;
  font-weight: bold;
}
.nav-links {
  display: flex;
  list-style-type: none;
  padding: 0;
  width: 100%;
}
.right-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}
.right-nav > li {
  padding: 0 9px;
}
.top-nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 10vh;
  padding: 0 8% 0 8%;
  width: 100%;
}
.top-nav a {
  color: #959ca6;
  font-size: 1.3em;
  text-decoration: none;
}
.top-nav a:hover {
  color: #004080;
}
.top-nav a:active {
  color: #004080;
}

/* OPENING SECTION */
.about-container {
  padding-right: 20px;
}
.about-text {
  color: #959ca6;
  font-size: 1.8em;
}
.about-text-contact {
  color: #959ca6;
  font-size: 1em;
  font-weight: bold;
}
.fa-github {
  color: #959ca6;
  font-size: 1.5em;
}
.fa-github:hover {
  color: #004080;
  font-size: 1.5em;
}
.fa-linkedin {
  color: #959ca6;
  font-size: 1.5em;
}
.fa-linkedin:hover {
  color: #004080;
  font-size: 1.5em;
}
.fa-envelope {
  color: #959ca6;
  font-size: 1.5em;
}
.fa-envelope:hover {
  color: #004080;
  font-size: 1.5em;
}
.headshot {
  border-radius: 50%;
  height: 24em;
}
.opening-section {
  clear: both;
  display: flex;
  height: 85vh;
  margin: 5vh 8% 0 8%;
}

/* CONTAINER */
.container {
  margin: 0 5% 0 10%;
  padding: 0;
  width: 100%;
}

/* PROJECTS SECTION */
.project {
  display: flex;
  margin: 0 10px 100px 10px;
  width: 100%;
}
.project-details {
  display: block;
  flex-shrink: 0;
  font-size: 0.9em;
  margin: 0 15px;
  max-width: 250px;
}
.project-name {
  color: #959ca6;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}
.project-screenshot {
  border-radius: 5px;
  display: block;
  max-width: 600px;
}
.project-screenshots {
  display: block;
  margin: 0;
  max-width: 700px;
  overflow: visible;
  padding: 0;
}
.section-projects {
  width: 100%;
}
.section-projects-container {
  display: flex;
  justify-content: center;
  padding: 100px;
}
.section-title {
  color: #004080;
  flex-shrink: 0;
  font-size: 1.2em;
  font-weight: bold;
  /*margin-right: 20px;*/
  text-transform: uppercase;
  width: 150px;
}
.separator {
  color: #004080;
}
.skill {
  border: 1px solid #959ca6;
  border-radius: 5px;
  display: inline-block;
  font-size: 0.6em;
  margin-top: 0.5em;
  margin-right: 0.3em;
  width: auto;
  padding: 7px 12px;
  text-transform: uppercase;
}

/*Responsiveness breakpoints */

/* Extra, extra small devices (iPhone 5 and older, 320px and down) */
@media only screen and (max-width: 320px) {
  .about-text {
    font-size: 1em;
    margin-top: 25px;
    padding-right: 0;
  }
  .opening-section {
    flex-direction: column;
  }
  .headshot {
    border-radius: 5px;
    height: 15em;
    order: -1;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 321px) and (max-width: 600px) {
  .about-text {
    font-size: 1em;
    margin-top: 25px;
    padding-right: 0;
  }
  .opening-section {
    flex-direction: column;
  }
  .headshot {
    border-radius: 5px;
    height: 19em;
    order: -1;
  }
  .project {
    flex-wrap: wrap;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/*@media only screen and (min-width: 600px) {...} */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .about-text {
    font-size: 1.2em;
    margin-top: 25px;
    padding-right: 0;
  }
  .headshot {
    height: 19em;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/*@media only screen and (min-width: 768px) {...} */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-text {
    font-size: 1.5em;
    margin-top: 25px;
    padding-right: 0;
  }
  .headshot {
    height: 19em;
  }
  .project {
    flex-wrap: wrap;
}

/* Large devices (laptops/desktops, 992px and up) */
/*@media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/*@media only screen and (min-width: 1200px) {...}*/
