a {
  margin: 0;
}
html {
  font-family: 'Roboto', sans-serif;
}
h2, h4 {
  color: #004080;
}
.about-text {
  color: #959ca6;
  font-style: italic;
}
.main-section {
  margin: 60px 0;
}
.nav-links {
  margin-right: 20%;
}
.portfolio-project {
  margin-bottom: 15px;
}
.selected-project {
  margin: 20px 0;
}
.separator {
  color: #004080;
}
.top-nav {
  background-color: #004080;
  padding: 0 10%;
}
.top-nav a {
  color: #e2e4e7;
}